section.association {
    width: 100%;
    height: 640px;
    margin: 0;
    margin-top: -40px;
}
section.association .column-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
section.association .column-wrapper .column-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 40%;
    padding: 60px 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
section.association .column-wrapper .column-text h1 {
    font-size: 26px;
    margin-bottom: 14px;
}
section.association .column-wrapper .column-text .text-content {
    margin-bottom: 20px;
}
section.association .column-wrapper .column-text .text-content p {
    margin-bottom: 8px;
}
section.association .column-wrapper .column-img {
    width: 60%;
    border-radius: 40px 0 0 40%;
    overflow: hidden;
}
section.association .column-wrapper .column-img .picture-dog-foret {
    position: relative;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: right;
    width: auto;
    height: 100%;
    background-image: url(/assets/img/chien-foret.webp);
}


section.objectif {
    width: 100%;
    height: 640px;
    margin: 0;
    margin-top: -40px;
}
section.objectif .column-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
section.objectif .column-wrapper .column-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 40%;
    padding: 160px 40px 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
section.objectif .column-wrapper .column-text h1 {
    font-size: 26px;
    margin-bottom: 14px;
}
section.objectif .column-wrapper .column-text .text-content {
    margin-bottom: 20px;
}
section.objectif .column-wrapper .column-text .text-content p {
    margin-bottom: 8px;
}
section.objectif .column-wrapper .column-img {
    width: 60%;
    border-radius: 0 40% 40px 0;
    overflow: hidden;
}
section.objectif .column-wrapper .column-img .picture-dog-malheureux {
    position: relative;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: right;
    width: auto;
    height: 100%;
    background-image: url(/assets/img/chien-malheureux.webp);
}

section.nos-actions {
    width: 100%;
    padding: 40px 0;
    background: #fff0f0;
    margin-top: 40px;
}
section.nos-actions h1 {
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
}
section.nos-actions .thumbnail-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
}
section.nos-actions .thumbnail-wrapper .thumbnail-action {
    width: 25%;
    margin: 0 20px;
    background: #fff;
    box-shadow: 0 6px 12px 0 rgb(238 118 116 / 20%);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
section.nos-actions .thumbnail-wrapper .thumbnail-action .thumbnail-media {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
section.nos-actions .thumbnail-wrapper .thumbnail-action .thumbnail-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    -webkit-transform: none;
    transition: transform 0.25s ease,
                -webkit-transform 0.25s ease;
}
section.nos-actions .thumbnail-wrapper .thumbnail-action:hover .thumbnail-media img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
section.nos-actions .thumbnail-wrapper .thumbnail-action .thumbnail-content {
    padding: 20px 20px 30px;
}
section.nos-actions .thumbnail-wrapper .thumbnail-action .thumbnail-content h3.thumbnail-title {
    font-size: 22px;
    font-family: 'Alkatra';
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 14px;
    letter-spacing: 1px;
    color: #000;
    transition: color 0.25s ease;
}
section.nos-actions .thumbnail-wrapper .thumbnail-action:hover .thumbnail-content h3.thumbnail-title {
    color: #EE7674;
}


section.le-financement {
    width: 100%;
    padding: 60px 0;
    background: rgb(238 118 116 / 20%);
}
section.le-financement h1 {
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
}
section.le-financement .financement-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
}
section.le-financement .financement-wrapper .financement-header {
    margin-bottom: 40px;
}
section.le-financement .financement-wrapper .financement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
}


section.le-financement .financement-wrapper .financement .thumbnail-financement {
    width: 25%;
    margin: 0 20px;
    background: #fff;
    box-shadow: 0 6px 12px 0 rgb(238 118 116 / 20%);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
section.le-financement .financement-wrapper .financement .thumbnail-financement .thumbnail-media {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
section.le-financement .financement-wrapper .financement .thumbnail-financement .thumbnail-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    -webkit-transform: none;
    transition: transform 0.25s ease,
                -webkit-transform 0.25s ease;
}
section.le-financement .financement-wrapper .financement .thumbnail-financement:hover .thumbnail-media img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
section.le-financement .financement-wrapper .financement .thumbnail-financement .thumbnail-content {
    padding: 20px 20px 30px;
}
section.le-financement .financement-wrapper .financement .thumbnail-financement .thumbnail-content h3.thumbnail-title {
    font-size: 22px;
    font-family: 'Alkatra';
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 14px;
    letter-spacing: 1px;
    color: #000;
    transition: color 0.25s ease;
}
section.le-financement .financement-wrapper .financement .thumbnail-financement:hover .thumbnail-content h3.thumbnail-title {
    color: #EE7674;
}

.text-button.rose-button a {
    display: block;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 50px;
    outline: 0;
    color: #fff;
    background-color: #EE7674;
    letter-spacing: 1px;
    border: 2px solid #EE7674;
    letter-spacing: 2px;
    transition: color 0.5s ease-in-out,
                border 0.5s ease-in-out,
                background-color 0.5s ease-in-out;
}
.text-button.rose-button a:hover {
    color: #EE7674;
    border-color: #EE7674;
    background-color: transparent;
}