section.content-association {
	width: 80%;
	padding: 40px 10%;
	margin: 0 auto;
}
section.content-association h1 {
	font-size: 26px;
	margin-bottom: 24px;
}
section.content-association .content-wrapper {
	padding: 0 20px;
	margin: 30px auto 0;
}
section.content-association .content-wrapper p {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.5;
}
section.content-association .content-wrapper h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
section.content-association .content-wrapper ul {
    padding-left: 20px;
    margin-bottom: 24px;
}
section.content-association .content-wrapper ul li {
    margin-bottom: 5px;
}

section.sengager-association {
	width: 100%;
	padding: 60px 0;
	background: #fff0f0;
}
section.sengager-association h1 {
	font-size: 26px;
	margin-bottom: 14px;
}
section.sengager-association .engagement-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
	margin: 0 auto;
	flex-wrap: nowrap;
	align-items: center;
}
section.sengager-association .engagement-wrapper .engagement-header {
	width: 100%;
	margin-bottom: 40px;
}
section.sengager-association .engagement-wrapper .engagement {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	flex-wrap: nowrap;
	align-items: center;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement {
	width: 30%;
	background: #fff;
	box-shadow: 0 6px 12px 0 rgba(238, 118, 116, 0.2);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.3s;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement:hover {
	transform: scale(1.1);
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement .thumbnail-content {
	padding: 20px 20px 30px;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement .thumbnail-content h3.thumbnail-title {
	font-size: 22px;
	font-family: 'Alkatra';
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1px;
	color: #000;
	transition: color 0.25s ease;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement:hover .thumbnail-content h3.thumbnail-title {
	color: #EE7674;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement .thumbnail-content span.thumbnail-fonction {
	display: block;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.6);
	font-style: italic;
	font-size: 14px;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement .thumbnail-content p.thumbnail-description {
	position: relative;
	padding: 0 10px;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 0.6px;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement .thumbnail-content p.thumbnail-description::before {
	position: absolute;
	transform: translate(-15px, -10px);
	content: "«";
	color: #486f78;
	font-size: 22px;
}
section.sengager-association .engagement-wrapper .engagement .thumbnail-engagement .thumbnail-content p.thumbnail-description::after {
	position: absolute;
	transform: translate(5px, 2px);
	content: "»";
	color: #486f78;
	font-size: 20px;
}

.plan_site-association .content-wrapper ul li a {
    color: #EE7674;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: underline;
}
.plan_site-association .content-wrapper ul li a:hover {
    text-decoration: none;
}